[flake8]
max-line-length = 120
extend-ignore = E501,W293,W291,E203,W503
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    alexa_auth/nodejs,
    node_modules,
    Dev,
    build,
    dist,
    .tox,
    .eggs,
    *.egg